<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>json数据转换与本地存储及$scope数据序列化提交后台</title>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/jquery/dist/jquery.js"></script>
</head>
<body ng-app="hd" ng-controller="ctrl">
<form action="" method="post">
    标题：<input type="text" ng-model="field.title">
    点击量：<input type="text" ng-model="field.click">
    内容: <input type="text" ng-model="field.content">
    <textarea name="data" id="" cols="30" rows="10"></textarea>
    <input type="submit" value="提交">
</form>
</body>
<script>
    var m=angular.module('hd',[]);
    m.controller('ctrl',['$scope',function ($scope) {
       $scope.field={title:'后盾人',click:100,content:'后盾网'};
       $('form').submit(function () {
           $("[name='data']").val(angular.toJson($scope.field));
           return false;
       });
    }]);
</script>
</html>